.container {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    flex-grow: 1;
}

.form {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    align-items: stretch;
    height: 40px;
    background-color: var(--light-grey);
    border-radius: 5px;
    overflow: hidden;
}

.input {
    border: none;
    background-color: var(--light-grey);
    flex-grow: 1;
    padding: 5px 15px;
}

.text {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: stretch;
    height: 40px;
    background-color: var(--light-grey);
    border-radius: 5px;
    overflow: hidden;
}

.submit {
    border: none;
    background-color: var(--main-color);
    padding: 10px 25px;
    cursor: pointer;
}

.submitGrey {
    border: none;
    background-color: var(--main-grey);
    color: white;
    padding: 10px 25px;
    cursor: pointer;
}

.submitBtn {
    height: 40px;
    align-self: flex-end;
    background-color: var(--main-grey);
    color: white;
    padding: 10px 25px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.inputContainer > label {
    margin-bottom: 5px;
}

.checkboxContainer > label {
    margin-left: 5px;
}