.bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
    width: 100%;
    border-bottom: 1px solid var(--main-grey);
    padding: 0 15px;
    flex-shrink: 0;
}

.bar > p {
    font-size: 16px;
    margin: 0;
}